/*	ORGANICWEB.DK IE FIX - START */

*:first-child+html .gig-widbox a.modal img
	width: 180px !important

* html .gig-widbox a.modal img
	width: 180px !important

*:first-child+html .gig-widbox img.img_floatLeft
	margin: 0px !important

* html .gig-widbox img.img_floatLeft
	margin: 0px !important

*:first-child+html .gig-widbox
	padding-right: 0px !important

* html .gig-widbox
	padding-right: 0px !important

*:first-child+html .gig-imgauthor,
* html .gig-imgauthor
	left: 0px !important

*:first-child+html img.gig-avatar,
* html img.gig-avatar
	height: 18px !important

.float_left,
.float_right,
.img_floatLeft,
.img_floatRight
	display: inline

svg:not(:root)
	zoom: 1

*:first-child+html .float_left,
*:first-child+html .float_right,
*:first-child+html .img_floatLeft,
*:first-child+html .img_floatRight
	display: inline

/*	ORGANICWEB.DK IE FIX - END */
