background_color = #f2f2f4
borderline_color = #C2C2C0
action_link_color = #696969


//@import "generic"
//@import "organicweb"


*
	margin: 0
	padding: 0

body
	background-color: background_color


/* Gignal */

#gignal-stream
	color: #2f2f2f
	font-size: 15px
	font-family: Georgia
	line-height: 20px

.gignal-outerbox
	display: inline-block
	background-color: background_color
	border: 1px solid borderline_color
	border-top: none
	border-left: none

	a
		color: action_link_color
		text-decoration: none

	.gignal-text
		padding: 10px
		word-wrap: break-word
		max-height: 200px
		overflow: hidden
		
	.gignal-box-footer
		height: 18px
		display: inline-block
		padding: 10px
		line-height: 18px
		font-size: 13px
		font-weight: normal
		color: action_link_color
		
		img
			margin-right: 5px
		
		.gignal-avatar
			max-width: 18px
			max-height: 18px

.gignal-imagebox
	height: 185px
	background-size: cover
	
	.gignal-box-footer
		margin-top: 145px


#gignal-footer
	position: fixed
	left: 0px
	bottom: 0px
	width: 100%
	height: 88px
	background-color: #000

#gignal-footer img
	position: relative
	top: 23px
	height: 46px
	display: block
	margin: 0 auto


/*
.gig-widbox
	padding: 10px 20px
	color: #2f2f2f
	font-size: 15px
	font-family: Georgia
	line-height: 20px
	position: relative
	text-align: center
	word-wrap: break-word

.gig-outerbox:first-child .gig-widbox
	font-size: 22px
	line-height: 1.1

.gig-widbox p, .gig-widtitle
	text-align: left
	
	&.text
		max-height: 200px
		overflow: hidden

.gig-widimgbox
	//padding: 10px
	height: 185px
	position: relative

.gig-widbox img
	//max-width: 180px
	max-width: 250px

.gig-widtitle
	line-height: 18px
	margin-top: 7px
	font-size: 13px
	font-weight: normal
	color: action_link_color

.gig-widimgbox
	background-size: cover;

.gig-imgauthor
	position: absolute
	left: 10px
	right: 10px
	bottom: 10px

.gig-imgauthor .gig-widtitle
	color: #fff
	margin-top: 60px
	margin-left: 10px

.gig-avatar
	max-width: 18px
	max-height: 18px

.gig-checkedin
	font-size: 10px
	font-family: Arial
	text-align: right
	line-height: 1px
	font-weight: bold

.gig-actionbtn
	background: url('../images/btn-rpt.jpg') repeat-x center center
	border: 1px solid #993e00
	padding: 0 6px
	display: inline-block
	color: #3b3b3b
	text-shadow: 1px 1px #e67d36
	text-decoration: none
	font-size: 11px

.gig-actionbtns
	position: absolute
	right: 7px
	bottom: 7px
	display: none

.gig-actionbtns a
	text-decoration: none
	color: action_link_color
	font-size: 80%

.gig-outerbox:hover .gig-actionbtns
	display: inline-block

.feature .gig-widbox
	font-size: 1.7em
	line-height: 1.3

.nodelink
	color: #333333
	font-size: 80%

#gignal-footer
	position: fixed
	left: 0px
	bottom: 0px
	width: 100%
	height: 88px
	background-color: #000

#gignal-footer img
	position: relative
	top: 23px
	height: 46px
	display: block
	margin: 0 auto

.read-more
	position: absolute 
	bottom: 0 left: 0
	width: 100% 
	text-align: center 
	margin: 0
	padding: 30px 0 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, black))
		background-image: -webkit-linear-gradient(top, transparent, black)
		background-image: -moz-linear-gradient(top, transparent, black)
		background-image: -ms-linear-gradient(top, transparent, black)
		background-image: -o-linear-gradient(top, transparent, black)

*/